body{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto Mono', monospace;
    background: #eceaea;
}
h1, h2{
   color: #222A38;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


header > h2{
    font-family: 'Dancing Script', cursive;
}


header>nav{
    display: flex;
    margin-right: 60px;
    gap: 30px;
}

header >nav > a{
    text-decoration: none;
    font-weight: bold;
    color: #1B434D;
}

header >nav > a:hover{
    color: #eceaea;
    background: #222A38;
}

header >nav > a:active{
    box-shadow: 2px 2px 2px black;
    font-size: 20px;
}

#apresentacao{
    display: grid;
    grid-template-columns: 50% 50%;
}

#apresentacao>article{
    display: flex;
    justify-content: center;
}

#apresentacao:hover{
    background: #b0acac;
    border-radius: 4px;
}

span:hover{
    background: #828080;
}


article#intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding-left: 40px;
}

article#intro>input{
    width: 110px;
}

article#intro>h1>span{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    position: relative;
}

article#intro>h1>span:hover{
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}



figure#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

figure#imagem>img{
    border-radius: 5%;
    max-width: 300px;
    height: 300px;
}

figure#imagem>img:hover{
    position: relative;
    top: -20px;
}

section#clientes{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

section#clientes:hover{
    background: #b0acac;
    border-radius: 4px;
    justify-content: center;
}

section#clientes > nav{
    display: flex;
    align-items: center;
    justify-content: right;
}

section#clientes > nav>a>img:hover{
    position: relative;
    top: -5px;
    
}

img#mateus{
    width: 150px;
    border-radius: 100%;
}

img#luno{
    width: 100px;
    border-radius: 100%;
}

img#amanda{
    width: 100px;
    border-radius: 100%;
}

section#propaganda{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#propaganda > figure>img{
    width: 300px;
    border-radius: 5%;
    
}

section#propaganda > figure>img:hover{
    position: relative;
    top: -20px;
    box-shadow: 2px 2px 1px black;
}

#imediatamente{
    padding: 2px;
    background: rgb(246, 125, 125);
}

#imediatamente:hover{
    background: rgb(0, 0, 0);
    color: rgb(246, 125, 125);
}

#meAdote{
    padding: 2px;
    background: yellow;
}

#meAdote:hover{
    padding: 2px;
    background: rgb(10, 10, 7);
    color: yellow;
}



input#email{
    width: 300px;
    
}

#emailbutton{
    color: #eceaea;
    padding: 4px 2px; 
    background: #222A38;
}

section#projetos{
    margin-top: 100px;
}

section#projetos > article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.img_port{
    width: 100px;
    border-radius: 5%;
}

footer{
    background-color: rgba(74, 94, 87, 0.832);
    text-align: center;
    padding: 10px;
    border-radius: 5%;
}

section#projetos > article>div{
    text-align: center;
}
section#projetos > article>div:hover{
    position: relative;
    top:-20px;  
}
section#projetos > article>div:active{
    position: relative;
    top:-40px; 
}

section#projetos > article>div>figure>img:hover{
    width: 200px;
}