body{
    font-family: 'Roboto Mono', monospace;
    background: #eceaea;
}
h1, h2{
   color: #222A38;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 600px;
    margin: 100px auto;
    gap: 40px;
}

header > h2{
    font-family: 'Dancing Script', cursive;
}


header>nav{
    display: flex;
    margin-right: 60px;
    gap: 30px;
}

header >nav > a{
    text-decoration: none;
    font-weight: bold;
    color: #1B434D;
}

header >nav > a:hover{
    color: #eceaea;
    background: #222A38;
}

header >nav > a:active{
    box-shadow: 2px 2px 2px black;
    font-size: 20px;
}

#apresentacao{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 600px;
    margin: 100px auto;
}

#apresentacao>article{
    display: flex;
    justify-content: center;
    max-width: 500px;
}


span:hover{
    background: #828080;
}


article#intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding-left: 40px;

}

article#intro>input{
    width: 110px;
}

article#intro>h1>span{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    position: relative;
}

article#intro>h1>span:hover{
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}


figure#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

figure#imagem>img{
    border-radius: 5%;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

figure#imagem>img:hover{
    position: relative;
    top: -20px;
}

section#clientes{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    max-width: 600px;
    margin: 100px auto;
    flex-wrap: wrap;
}

section#clientes:hover{
    justify-content: center;
}

section#clientes > nav{
    display: flex;
    align-items: center;
}

section#clientes > nav>a>img:hover{
    position: relative;
    top: -5px;
    
}

img#mateus{
    max-width: 150px;
    border-radius: 100%;
}

img#luno{
    max-width: 100px;
    border-radius: 100%;
}

img#amanda{
    max-width: 100px;
    border-radius: 100%;
}

section#propaganda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    margin: 100px auto;
}


section#propaganda>article{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: auto;
}


section#propaganda > figure>img{
    max-width: 200px;
    border-radius: 5%;
    
}

section#propaganda > figure>img:hover{
    box-shadow: 2px 2px 1px black;
}



#imediatamente{
    padding: 2px;
    background: rgb(246, 125, 125);
}

#imediatamente:hover{
    background: rgb(0, 0, 0);
    color: rgb(246, 125, 125);
}

#meAdote{
    padding: 2px;
    background: yellow;
}

#meAdote:hover{
    padding: 2px;
    background: rgb(10, 10, 7);
    color: yellow;
}



input#email{
   max-width: 300px;
   border-radius: 4px;
    
}

#emailbutton{
    color: #eceaea;
    padding: 4px 2px; 
    background: #222A38;
    margin-bottom: 20px;
}

#emailbutton:hover{
    color: #222A38;
    background: #eceaea;
}

#emailbutton:active{
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}


section#projetos{
    max-width: 600px;
    padding: 40px;
    margin: auto;
}

section#projetos > article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section#projetos > article>div{
    max-width: 300px;
}

.img_port{
    width: 100px;
    border-radius: 5%;
}

footer{
    background-color: rgba(74, 94, 87, 0.832);
    text-align: center;
    padding: 10px;
    border-radius: 5%;
    max-width: 600px;
    margin: 100px auto;
}

section#projetos > article>div{
    text-align: center;
}
section#projetos > article>div:hover{
    position: relative;
    top:-20px;  
}
section#projetos > article>div:active{
    position: relative;
    top:-40px; 
}

section#projetos > article>div>figure>img:hover{
    width: 200px;
}
