body{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto Mono', monospace;
    background: #eceaea;
}
h1, h2{
   color: #222A38;
}
header{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    gap: 250px;
}


header > h2{
    font-family: 'Dancing Script', cursive;
}


header>nav{
    display: flex;
    margin-right: 60px;
    gap: 30px;
}

header >nav > a{
    text-decoration: none;
    font-weight: bold;
    color: #1B434D;
}

#apresentacao{
    display: grid;
    grid-template-columns: 50% 50%;
}

article#intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding-left: 40px;
}

article#intro>input{
    width: 110px;
}

article#intro>h1>span{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

figure#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

figure#imagem>img{
    border-radius: 5%;
    max-width: 300px;
    height: 300px;
}

section#clientes{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

section#clientes > nav{
    display: flex;
    align-items: center;
    justify-content: right;
}

img#mateus{
    width: 150px;
    border-radius: 100%;
}

img#luno{
    width: 100px;
    border-radius: 100%;
}

img#amanda{
    width: 100px;
    border-radius: 100%;
}

section#propaganda{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#propaganda > figure>img{
    width: 300px;
    border-radius: 5%;
}

#imediatamente{
    padding: 2px;
    background: rgb(226, 134, 134);
}

input#email{
    width: 100px;
}

section#projetos{
    margin-top: 100px;
}

section#projetos > article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.img_port{
    width: 100px;
    border-radius: 5%;
}

footer{
    background-color: rgba(74, 94, 87, 0.832);
    text-align: center;
    padding: 10px;
    border-radius: 5%;
}

section#projetos > article>div{
    text-align: center;
}
